header {
    padding: 5px;
    text-align: left;
    background: #fbda0c;
    color: #0057ad;
    font-size: 30px;
    height: 2.5%;
    width: auto;
    display: flex;
    align-items: center; /* Center items vertically */
}

.header-content {
    display: flex;
    align-items: center; /* Center items vertically */
}

.header-icon {
    width: 30px; /* Set the width of your icon */
    height: 30px; /* Set the height of your icon */
    margin-right: 10px; /* Adjust the margin between the icon and text */
}

h1 {
    vertical-align: center;
}

h2, p {
    color: black;
}

body {
    background-color: white; /* Set background color to white */
}

.main-content {
    display: flex;
}

.video-section {
    position: absolute;
    left: 2%;
    top: 30%;
    width: 66.66%;
}

.text-section {
    width: 33.33%;
    background-color: #f2f2f2;
    padding: 20px;
}

.text-container {
    cursor: pointer;
}

.text {
    display: none;
}

.text.active {
    display: block;
}

/* Moveable Button */
.wrap{
    width:100px;
    text-align:center;
    z-index: 1;
    position: absolute;
    left: 2%;
    top: 30%;
}
#box1,#box2,#box3{
    background:#83acdd;
    width:100px;
    box-shadow:2px 2px 3px #C8BBA3;
    text-align:center;
    vertical-align:bottom;
    padding:15px 10px;
    color:#FFF;
    cursor:pointer;
}
